<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>


      </style>


    <div
    id="jumbo" class="jumbotron jumbofluid-fluid">

    </div>
      <br>
      <br>
      <br>
      <p> <b>This Webpage is esentially going to encourage you to become happy. <br> <br>
        The ultimate goal is to become happy and sustain that happiness. Many <br> <br>
        people from around the world suffer from these different moods and we don't <br> <br>
        even realize it. Hopefully this page helps you in any way possible. Enjoy !</b>
      </p>
      <br>



<h4>What is your mood for today ?</h4>

    <ul class="nav navbar-nav navbar-right" id="headerDropdowns">
<li><div class="btn-toolbar">
<div class="btn-group">
<button class="btnCustom" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">Select Your Mood</button>
<ul class="dropdown-menu">
 <li><a tabindex="-1" href="Depression">Depressed</a></li>
 <li class="divider"></li>
 <li><a tabindex="-1" href="">Sad</a></li>
 <li class="divider"></li>
 <li><a tabindex="-1" href="">Angry</a></li>
 <li class="divider"></li>
 <li><a tabindex="-1" href="">Happy</a></li>
 <li class="divider"></li>
</ul>
</div>
</li>
</ul>





  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style type="text/css">


    h4 {
      text-align: center;
      color: blue;}



  button{ position:relative; margin: 10px 285px; left:50%;}

p {text-align: center; color: black; text-shadow: grey; font-size: 140%; font-style: italic;}

#jumbo{
  background-image: url(https://lh3.googleusercontent.com/U1LVu95FaWDbj1B12hGCuot0UJ7d9xavVX34ZN5ZmGtJ6sCBmLrc1dluThOm9tPTnvDkUg=s148);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  left: 100%;



}






    </style>






</html>
