<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron jumbofluid-fluid">
        <h1 class="Heading"> Welcome to your Mood Meter </h1>
      </div>
      <br>
      <br>
      <br>
      <p>This Webpage is esentially going to encourage you to become happy. <br>
        The ultimate goal is to become happy and sustain that happiness. Enjoy !
      </p>
      <br>
      <br>


<a href="#"></a>

<h4>What is your mood for today ?</h4>
    <br>
    <ul class="nav navbar-nav navbar-right" id="headerDropdowns">
<li><div class="btn-toolbar">
<div class="btn-group">
<button class="btnCustom" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">Select Your Mood</button>
<ul class="dropdown-menu">
 <li><a tabindex="-1" href="Depression">Depressed</a></li>
 <li class="divider"></li>
 <li><a tabindex="-1" href="">Sad</a></li>
 <li class="divider"></li>
 <li><a tabindex="-1" href="">Angry</a></li>
 <li class="divider"></li>
 <li><a tabindex="-1" href="">Happy</a></li>
 <li class="divider"></li>
</ul>
</div>
</li>
</ul>





  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style type="text/css">
    h1 {
      text-align: center;
      color: white;
      font-size: 50px;
      background-color: green;)
    }

    h4 {
      text-align: center;
      color: blue;}


  button{ position:relative; margin: 10px 285px; left:50%;}

p {text-align: center;}






    </style>


</html>
